@import "tailwindcss";

:root {
  --background: #f7f7f7;
  --foreground: #0d1b2a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-made-tommy-soft);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-made-tommy-soft), Arial, Helvetica, sans-serif;
}
